@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --border: 0 0% 0%;
        --background: 220 13% 91%;
        --player-0: 0 72% 51%;
        --player-1: 142 76% 36%;
        --player-2: 41 96% 40%;
        --player-3: 200 98% 39%;
    }

    * {
        @apply border-border;
    }
}