@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --border: 0 0% 0%;
        --background: 220 13% 91%;
        --player-1: 0 72% 51%;
        --player-2: 142 76% 36%;
        --player-3: 41 96% 40%;
        --player-4: 200 98% 39%;
    }

    * {
        @apply border-border;
    }

    @font-face {
        font-family: "Whatdo";
        src: url("Whatdo.otf") format("opentype"),
    }

    * {
        font-family: 'Whatdo';
    }
}